<%- include partials/header %>

<link rel="stylesheet" href="/stylesheets/detail.css"/>

<br>

<div class="Afuera">
    <div class="Adentro Editar">
        <% if(resultado.length == 0) { %> 
            <h1>No haz hecho una reseña, te sugerimos a que pienses ahora tu primera!</h1>
        <% } else { %>
            <h2 class=""> Reseñas de <%= resultado[0].usuario.name %></h2>
            <% for(let i = 0; i < resultado.length; i++) { %>
               <ul>
                <div class="listaR">
                    <div>
                        Puntaje: <%= resultado[i].rate %></div>
                        <div>
                            <h4><%= resultado[i].text_review %></h4>
                        </div>
                        <div>
                            <a href="/usuarios/reviews/edit/<%= resultado[i].id %>">Editar</a>
                            <a href="/usuarios/reviews/delete/<%= resultado[i].id %>">Borrar</a>
                        </div>
                </div>
               </ul>
                <% } %>
            <% } %>
        </div>
</div>

<br>

<%- include partials/footer %>